- content_for :title do
  #{@partner.name} - #{@partner.categories.map(&:name_sing).join(',')} на весілля в #{@partner.location.try(:name)} область
- content_for :seo_description do

- content_for :seo_keywords do

.container.partner
  .row
    %section.col-lg-12
      %header
        .row
          .col-lg-5.name
            .title= @partner.name
            .subtitle= raw @partner.categories.map{ |e| link_to(e.name_sing, e) }.join(', ')
          .col-lg-2.text-center.avatar
            = image_tag @partner.user.avatar(:thumb_220), class: 'img-circle'
          .col-lg-5.description
            = simple_format @partner.description
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", href: "#info"} Інформація та контакти
          %li
            %a{"data-toggle" => "tab", href: "#photo-portfolio"} Фото портфоліо
          %li
            %a{"data-toggle" => "tab", href: "#video-portfolio"} Відео портфоліо
          - if @partner.callendar
            %li
              %a{"data-toggle" => "tab", href: "#calendar"} Календар зайнятості
          %li
            %a{'data-toggle' => 'tab', href: '#comments'} Відгуки клієнтів
      .tab-content
        #info.tab-pane.fade.in.active
          .row
            .col-lg-6
              %dl.partner.dl-horizontal
                - if @partner.categories.any?
                  %dt Категорії:
                  %dd= raw @partner.categories.map{ |e| link_to(e.name, e) }.join('<br>')
                %dt Ціни:
                %dd
                  - @partner.categories.each do |category|
                    = "#{category.name_sing} від $#{@partner.price_for(category)}"
                    %br
                
                - if @partner.location 
                  %dt Проживає/офіс:
                  %dd= @partner.location.name
                
                - if @partner.locations.any?
                  %dt Працює в:
                  %dd= raw @partner.locations.map{ |e| e.name }.join('<br>')

                - if @partner.site
                  %dt Сайт:
                  %dd= @partner.site

                - if @partner.user.email
                  %dt Email:
                  %dd= @partner.user.email
                
                - if @partner.phone
                  %dt Телефон:
                  %dd= @partner.phone
            .col-lg-6= simple_format @partner.info
        #video-portfolio.fade.tab-pane
          - if @partner.videos.any?
            .row.gallery
              .col-lg-12
                - @partner.videos.each do |video|
                  - if video.link
                    .video-wrap
                      .video
                        = link_to image_tag(video.cover, { class: 'img-responsive' }), video.external_link, {rel: 'video'}
                        .info
                          .top
                            .name= video.title
                            .size= video.rating
                            .clearfix
                          - unless video.description.strip.empty?
                            .bottom= raw video.description
          - else
            .text-center= raw "Нажаль, <b>#{@partner.name}</b>, поки не завантажив жодного відео."
        #photo-portfolio.fade.tab-pane
          - if @partner.galleries.any?
            %h3.text-center Галареї фотографій
            - @partner.galleries.each do |gallery|
              .row.gallery
                .col-lg-2.header
                  .title= gallery.name
                  .subtitle= gallery.description 
                .col-lg-10.photos
                  - gallery.photos.each do |photo|
                    .photo= link_to image_tag(photo.asset(:thumb_150), { class: 'img-responsive' }), photo.asset(:huge)
          - else
            .text-center= raw "Нажаль, <b>#{@partner.name}</b>, поки не завантажив жодної фотографії."
        - if @partner.callendar
          #calendar.fade.tab-pane
            .rcalendar{ data: { cabinet: 'false', days: @partner.days.map(&:day_of_life).to_json } }
        #comments.fade.tab-pane
          #disqus_thread
          %noscript
            Please enable JavaScript to view the 
            %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus
          
          - content_for :scripts do
            :javascript
              /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
     
              var disqus_shortname = "wedcitypro#{'dev' if Rails.env.development?}";
              var disqus_identifier = "#{@partner.slug}"
              var disqus_title = "#{@partner.name} - #{@partner.categories.map(&:name_sing).join(', ')}";
              /*var disqus_url = "#{url_for @partner}";*/

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();





