.container.partner
  .row
    %section.col-lg-12
      %header
        .row
          .col-lg-5.name
            .title= @partner.name
            .subtitle= @partner.categories.map(&:name_sing).join(', ')
          .col-lg-2.text-center.avatar
            = image_tag @partner.user.avatar(:thumb_220), class: 'img-circle'
          .col-lg-5.description
            = raw @partner.description
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", href: "#info"} Інформація
          %li
            %a{"data-toggle" => "tab", href: "#portfolio"} Портфоліо
          %li
            %a{"data-toggle" => "tab", href: "#calendar"} Календар
          %li
            %a{"data-toggle" => "tab", href: "#contacts"} Контакти
          %li
            %a{'data-toggle' => 'tab', href: '#comments'} Відгуки клієнтів
      .tab-content
        #info.tab-pane.fade.in.active=raw @partner.info
        #portfolio.fade.tab-pane
          %dl.partner
            %dt Галареї
            %dd  
              - @partner.galleries.each do |gallery|
                %div= gallery.name
                %div.gallery
                  - gallery.photos.each do |photo|
                    = link_to image_tag(photo.asset(:thumb_150)), photo.asset(:original)
            %dt Відео
            %dd.gallery
              - @partner.videos.each do |video|
                - if video.link
                  %span.video= link_to image_tag(video.cover), video.external_link, {rel: 'video'}
        #calendar.fade.tab-pane
          .rcalendar{ data: { cabinet: 'false', days: @partner.days.map(&:day_of_life).to_json } }
        #contacts.fade.tab-pane
          %dl.partner
            %dt Ціни на послуги
            %dd
              %ul
                - @partner.categories.each do |category|
                  %li= "#{category.name_sing} від $#{@partner.price_for(category)}"

            - if @partner.categories.any?
              %dt Категорія
              %dd= raw @partner.categories.map{ |e| link_to(e.name, e) }.join(', ')
            
            - if @partner.location 
              %dt Живе
              %dd= link_to @partner.location.name, @partner.location
            
            - if @partner.locations.any?
              %dt Працює
              %dd= raw @partner.locations.map{ |e| e.name }.join(', ')

            - if @partner.site
              %dt Сайт
              %dd= @partner.site

            - if @partner.user.email
              %dt Email
              %dd= @partner.user.email
            
            - if @partner.phone
              %dt Телефон
              %dd= @partner.phone
        #comments.fade.tab-pane
          #disqus_thread
          %noscript
            Please enable JavaScript to view the 
            %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus
          
          - content_for :scripts do
            :javascript
              /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
     
              var disqus_shortname = "wedcitypro#{'dev' if Rails.env.development?}";
              var disqus_identifier = "#{@partner.slug}"
              var disqus_title = "#{@partner.name} - #{@partner.categories.map(&:name_sing).join(', ')}";
              /*var disqus_url = "#{url_for @partner}";*/

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();





