.container.partner
  .row
    %section.col-lg-12
      %header
        .row
          .col-lg-5.name
            .title= @partner.name
            .subtitle= @partner.categories.map(&:name_sing).join(', ')
          .col-lg-2.text-center.avatar
            = image_tag @partner.user.avatar(:thumb_220), class: 'img-circle'
          .col-lg-5.description
            = raw @partner.description
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", href: "#info"} Інформація
          %li
            %a{"data-toggle" => "tab", href: "#portfolio"} Портфоліо
          %li
            %a{"data-toggle" => "tab", href: "#calendar"} Календар
          %li
            %a{"data-toggle" => "tab", href: "#contacts"} Контакти
      .tab-content
        #info.tab-pane.fade.in.active=raw @partner.info
        #portfolio.fade.tab-pane
          %dl.partner
            %dt Галареї
            %dd  
              - @partner.galleries.each do |gallery|
                %div= gallery.name
                %div.gallery
                  - gallery.photos.each do |photo|
                    = link_to image_tag(photo.asset(:thumb_150)), photo.asset(:original)
            %dt Відео
            %dd.gallery
              - @partner.videos.each do |video|
                - if video.link
                  %span.video= link_to image_tag(video.cover), video.external_link, {rel: 'video'}
        #calendar.fade.tab-pane
          .rcalendar{ data: { cabinet: 'false', days: @partner.days.map(&:day_of_life).to_json } }
        #contacts.fade.tab-pane
          %dl.partner
            %dt Ціна
            %dd= "Від #{@partner.price} $"

            - if @partner.categories.any?
              %dt Категорія
              %dd= raw @partner.categories.map{ |e| link_to(e.name, e) }.join(', ')
            
            - if @partner.location 
              %dt Живе
              %dd= link_to @partner.location.name, @partner.location
            
            - if @partner.locations.any?
              %dt Працює
              %dd= raw @partner.locations.map{ |e| e.name }.join(', ')

            %dt Сайт
            %dd= @partner.site

            %dt Email
            %dd= @partner.user.email
            
            %dt Телефон
            %dd= @partner.phone

            %dt Активний
            %dd= @partner.active
            
            %dt Рейтинг
            %dd= @partner.rating
            
            %dt Преміум
            %dd= @partner.premium

            - if @partner.premium
              %dt Преміум до
              %dd= @partner.premium_to




