%p#notice= notice

%p
  %b Name:
  = @gallery.name
%p
  %b Description:
  = @gallery.description
%p
  %b Partner:
  = @gallery.partner
%p
  %b Photos:
  - @gallery.photos.each do |photo|
    = link_to image_tag(photo.asset(:thumb_150)), photo.asset(:original)

= link_to 'Edit', edit_admin_gallery_path(@gallery)
\|
= link_to 'Back', admin_galleries_path
