%p#notice= notice

%dl
  %dt Name
  %dd= @gallery.name

  %dt Description
  %dd= @gallery.description

  %dt Partner
  %dd= link_to(@gallery.partner.name, [:admin, @gallery.partner]) if @gallery.partner

  %dt Photos
  %dd
    - @gallery.photos.each do |photo|
      = link_to image_tag(photo.asset(:thumb_150)), [:admin, photo]

= link_to 'Edit', edit_admin_gallery_path(@gallery), class: 'btn btn-default' 
= link_to 'Back', admin_galleries_path, class: 'btn btn-default' 
