= simple_form_for [:admin, @location] do |f|
  = f.error_notification

  .row
    .col-xs-6
      = f.input :name, input_html: { class: 'form-control' }
      = f.input :slug, input_html: { class: 'form-control' }
      
      = f.button :submit, class: 'btn btn-default' 