%h1 Listing locations

.table-responsive
  %table.table.table-bordered.table-striped
    %tr
      %th Id
      %th Name
      %th Name m
      %th Slug
      %th Actions

    - @locations.each do |location|
      %tr
        %td= location.id
        %td= location.name
        %td= location.name_m
        %td= location.slug
        %td
          = link_to 'Show', [:admin, location]
          = link_to 'Edit', edit_admin_location_path(location)
          = link_to 'Destroy', [:admin, location], :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @locations
%br
= link_to 'New Location', new_admin_location_path, class: 'btn btn-default' 
