%p#notice= notice

%dl
  %dt Name
  %dd= @location.name

  %dt Slug
  %dd= @location.slug

= link_to 'Edit', edit_admin_location_path(@location), class: 'btn btn-default' 
= link_to 'Back', admin_locations_path, class: 'btn btn-default' 
