= simple_form_for [:admin, @partner] do |f|
  = f.error_notification

  .inputs
    = f.input :slug
    = f.input :price
    = f.input :location_id
    = f.input :site
    = f.input :email
    = f.input :phone
    = f.input :active
    = f.input :premium
    = f.input :premium_to
    = f.input :avatar
    = f.input :rating
  
    %h2 Ukrainian
    - f.globalize_fields_for :uk do |l|
      = l.input :name
      = l.input :description
      = l.input :info
      = l.input :encrypted_password
      = l.input :slug
    
    %h2 Russian
    - f.globalize_fields_for :ru do |l|
      = l.input :name
      = l.input :description
      = l.input :info
      = l.input :encrypted_password
      = l.input :slug

  .actions
    = f.button :submit
