%h1 Listing partners

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Id
        %th Name
        %th Cover
        %th Categories
        %th Description
        %th Info
        %th Location
        %th Contacts
        %th Confirmed
        %th Active
        %th %
        %th Actions
    %tbody
      - @partners.each do |partner|
        %tr{ class: partner.premium && 'warning' }
          %td= partner.id
          %td= partner.name
          %td= image_tag(partner.user.avatar(:thumb_100)) if partner.user
          %td= raw partner.categories.map{ |e| link_to(e.name_sing, e) }.join(', ')
          %td= partner.description && partner.description.truncate(30)
          %td= partner.info && partner.info.truncate(30)
          %td= partner.location.try(:name)
          %td
            %b site:
            = partner.site
            %br
            %b email:
            = partner.user.try(:email)
            %br
            %b phone
            = partner.phone
          %td= partner.user.confirmed?
          %td= partner.active
          %td= partner.count_profile_filling
          %td
            = link_to 'Show', [:admin, partner]
            = link_to 'Edit', edit_admin_partner_path(partner)
            = link_to 'Destroy', [:admin, partner], :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @partners
%br
= link_to 'New Partner', new_admin_partner_path, class: 'btn btn-default' 
