%p#notice= notice

%p
  %b Name:
  = @partner.name
%p
  %b Description:
  = raw @partner.description
%p
  %b Info:
  = raw @partner.info

- if @partner.categories.any?
  %p
    %b Категорія:
    = raw @partner.categories.map{ |e| link_to(e.name, e) }.join(', ')

- if @partner.locations.any?
  %p
    %b Працює у:
    = raw @partner.locations.map{ |e| link_to(e.name, e) }.join(', ')

- if @partner.location
  %p
    %b Живе у:
    = link_to @partner.location.name, @partner.location

- if @partner.days.any?
  %p 
    %b Календар зайнятих дат:
  = raw full_year_callendar(@partner.calendar)

%p
  %b Price:
  = @partner.price
%p
  %b Site:
  = @partner.site
%p
  %b Email:
  = @partner.email
%p
  %b Phone:
  = @partner.phone
%p
  %b Active:
  = @partner.active
%p
  %b Premium:
  = @partner.premium
%p
  %b Premium to:
  = @partner.premium_to
%p
  %b Cover:
  = image_tag @partner.avatar(:thumb_220)
%p
  %b Rating:
  = @partner.rating
%p
  %b Slug:
  = @partner.slug
%p
  %b Galleries:
  - @partner.galleries.each do |gallery|
    %p
      = gallery.name
      - gallery.photos.each do |photo|
        = link_to image_tag(photo.asset(:thumb_150)), photo.asset(:original)

= link_to 'Edit', edit_admin_partner_path(@partner)
\|
= link_to 'Back', admin_partners_path
