%h4 Запити на співпрацю:
.row
  - if @partner.co_reqs.any?
    - @partner.co_reqs.each_with_index do |partner, i|
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
        = link_to partner do
          = image_tag(partner.user.avatar(:thumb_220), { class: :'img-circle img-responsive', alt: partner.name })
          %div= partner.name
      - if (i+1)%6 == 0
        .clearfix.visible-lg
      - elsif (i+1)%4 == 0
        .clearfix.visible-md
      - elsif (i+1)%3 == 0
        .clearfix.visible-xs.visible-sm
  - else
    .col-lg-12.text-center Немає нових запитів на співпрацю.
%h4 Співпрацюєте:
.row
  - if @partner.cos_all.any?
    - @partner.cos_all.each_with_index do |partner, i|
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
        = link_to partner do
          = image_tag(partner.user.avatar(:thumb_220), { class: :'img-circle img-responsive', alt: partner.name })
          %div= partner.name
      - if (i+1)%6 == 0
        .clearfix.visible-lg
      - elsif (i+1)%4 == 0
        .clearfix.visible-md
      - elsif (i+1)%3 == 0
        .clearfix.visible-xs.visible-sm
  - else
    .col-lg-12.text-center Нажаль ви поки нізким не співпрацюєте.