= simple_form_for [:cabinet, @partner] do |f|
  = f.error_notification
  
  = f.simple_fields_for :user do |user|
    = user.input :email,            input_html: { class: 'form-control' }

  = f.association :location,        input_html: { class: 'form-control' }, label: 'Місце проживання(офісу)'
  = f.input :site,                  input_html: { class: 'form-control' }, label: 'Сайт'
  = f.input :phone,                 input_html: { class: 'form-control' }, label: 'Телефон'
  .input
  = f.button :submit, class: 'btn btn-default', value: 'Зберегти зміни'
