= simple_form_for [:cabinet, @partner] do |f|
  = f.error_notification
  .row
    .col-lg-6
      %ul#myTab.nav.nav-tabs
        %li.active= link_to t('translation.uk'), '#locale-uk'
        %li= link_to t('translation.ru'), '#locale-ru'
      .tab-content
        #locale-uk.tab-pane.active
          - f.globalize_fields_for :uk do |l|
            = l.input :name,            input_html: { class: 'form-control' }
            = l.input :description,     input_html: { class: 'form-control' }, as: :text
            = l.input :info,            input_html: { class: 'form-control' }, as: :text
        #locale-ru.tab-pane
          - f.globalize_fields_for :ru do |l|
            = l.input :name,            input_html: { class: 'form-control' }
            = l.input :description,     input_html: { class: 'form-control' }, as: :text
            = l.input :info,            input_html: { class: 'form-control' }, as: :text
     


      = f.simple_fields_for :user do |user|
        = user.input :avatar,                input_html: { class: 'form-control' }
        = user.input :avatar_remote_url,     input_html: { class: 'form-control' } 
        = user.input :email,                 input_html: { class: 'form-control' }
        = user.input :password,              input_html: { class: 'form-control' }
        = user.input :password_confirmation, input_html: { class: 'form-control' }


    .col-lg-6
      = f.input :price,                 input_html: { class: 'form-control' }
      = f.association :location,        input_html: { class: 'form-control' }
      = f.association :locations,       input_html: { class: 'form-control' }
      = f.association :categories,      input_html: { class: 'form-control' }
      = f.association :days,            input_html: { class: 'form-control' }
      = f.input :site,                  input_html: { class: 'form-control' }
      = f.input :phone,                 input_html: { class: 'form-control' }
      /= f.input :password,              input_html: { class: 'form-control' }
      /= f.input :password_confirmation, input_html: { class: 'form-control' }

  = f.button :submit, class: 'btn btn-default', value: 'Зберегти зміни'
