= simple_form_for [:cabinet, @partner] do |f|
  = f.error_notification

  = f.simple_fields_for :user do |user|
    = user.input :current_password,      input_html: { class: 'form-control' }
    = user.input :password,              input_html: { class: 'form-control' }
    = user.input :password_confirmation, input_html: { class: 'form-control' }

  = f.button :submit, class: 'btn btn-default', value: 'Зберегти зміни'
