= simple_form_for [:cabinet, @partner] do |f|
  = f.error_notification

  = f.simple_fields_for :user do |user|
    = user.input :current_password,      input_html: { class: 'form-control' }, label: 'Ваш поточний пароль'
    = user.input :password,              input_html: { class: 'form-control' }, label: 'Новий пароль'
    = user.input :password_confirmation, input_html: { class: 'form-control' }, label: 'Повторіть новий пароль'

  = f.button :submit, class: 'btn btn-default', value: 'Зберегти зміни'
