.last-videos
  .top
    .title 
      Останні завантажені відеозаписи
      %span.label.label-primary= @partner.videos.size
    .actions
      %button.btn.btn-default.btn-xs.show-edit(type="button")
        %span.glyphicon.glyphicon-plus
      %button.btn.btn-default.btn-xs.hide-edit.hidden(type="button")
        %span.glyphicon.glyphicon-remove
    .clearfix
  = render 'cabinet/videos/form', video: Video.new
  .videos
    - @partner.videos.each do |video|
      - if video.link
        .video{data: {id: video.id}}
          - if video.external_link
            = link_to image_tag(video.cover), video.external_link, {rel: 'video'}
            .info
              .top
                .name= video.title
                .size= video.rating
                .clearfix
              - unless video.description.strip.empty?
                .bottom= raw video.description
            .actions
              %button.btn.btn-default.btn-xs.move
                %span.glyphicon.glyphicon-move
              = link_to [:cabinet, video], method: :delete, data: { confirm: 'Ви впевнені?' }, class: "btn btn-default btn-xs" do
                %span.glyphicon.glyphicon-trash
          - else
            = image_tag 'http://placehold.it/310x174&text=Error...'
            .info
              .top
                .name Відео пошкоджено - будь ласка видаліть його.
            .actions
              = link_to [:cabinet, video], method: :delete, class: "btn btn-default btn-xs" do
                %span.glyphicon.glyphicon-trash