.edit-form
  = simple_form_for [:cabinet, gallery], remote: true do |f|
    = f.error_notification
    %ul#myTab.nav.nav-tabs
      %li.active= link_to t('translation.uk'), '#locale-uk'
      %li= link_to t('translation.ru'), '#locale-ru'
    .tab-content
      #locale-uk.tab-pane.active
        - f.globalize_fields_for :uk do |l|
          = l.input :name,        input_html: { class: 'form-control' }
          = l.input :description, input_html: { class: 'form-control' }, as: :text
      #locale-ru.tab-pane
        - f.globalize_fields_for :ru do |l|
          = l.input :name,        input_html: { class: 'form-control' }
          = l.input :description, input_html: { class: 'form-control' }, as: :text
    = f.button :submit, class: 'btn btn-default'