%p#notice= notice

%dl
  %dt Name
  %dd= @gallery.name

  %dt Description
  %dd= @gallery.description

  %dt Photos
  %dd
    - @gallery.photos.each do |photo|
      = link_to image_tag(photo.asset(:thumb_150)), [:cabinet, photo]

= link_to 'Edit', edit_cabinet_gallery_path(@gallery), class: 'btn btn-default' 
= link_to 'Back', cabinet_galleries_path, class: 'btn btn-default' 
