.container.partners
  .row
    %section.col-lg-8.col-md-8
      .row
        - @partners.each_with_index do |partner, i|
          .col-xs-4.col-sm-4.col-md-3.col-lg-2
            = link_to partner do
              = image_tag(partner.user.avatar(:thumb_220), { class: :'img-circle img-responsive', alt: partner.name })
              %div= partner.name
              %div= raw "від <b>#{partner.price}</b>$"
          - if (i+1)%6 == 0
            .clearfix.visible-lg
          - elsif (i+1)%4 == 0
            .clearfix.visible-md
          - elsif (i+1)%3 == 0
            .clearfix.visible-xs.visible-sm
      .row
        .col-lg-12.text-center
          = paginate @partners
    %aside.col-lg-4.col-md-4
      %section.search-form
        .date 
          Дата весілля
          %span
            %b.caret
          %input#datepicker{type: 'text'}
        .location
          Область
          %span
            %b.caret
          .locationpicker
            %ul.hidden
              - Location.all.each do |loc|
                %li= loc.name
        .location
          = collection_select(:location, :id, Location.all, :id, :name, {prompt: 'Область'})
        .service 
          Послуга
          - Category.all.each do |cat|
            .checkbox
              %label
                = check_box_tag cat
                = cat.name
        .buttons
          %button.pull-right ШУКАТИ
          %button.pull-right ОЧИСТИТИ
          .clearfix
      %section.tender
        %article
          %header
            %h3 Створити заявку
          %section
            .date Дата весілля
            .location Область
            .service Послуга
            .buttons
              %button.pull-right СТВОРИТИ
              .clearfix