.container.partners
  .row
    %section.col-lg-8.col-md-8
      .pull-right.ordering
        Сортувати по:
        = select_tag 'order', options_for_select([['нові згори', 'id DESC'],['нові не згори', 'id ASC'],['дешеві згори', 'price ASC'],['дешеві не згори','price DESC']], order_by)
      .index
        = render 'partners'
    %aside.col-lg-4.col-md-4
      %section.search-form
        = form_tag(partners_path, method: :get, remote: true) do 
          .date 
            %label= params[:date] || 'Дата весілля'
            %input#datepicker{name: :date, type: 'text', value: params[:date]}
          .location
            = collection_select(:location_ids, nil, Location.all, :id, :name, {selected: params[:location_ids], prompt: 'Область'})
          .service 
            Послуга
            - Category.all.each do |cat|
              .checkbox
                %label
                  = check_box_tag('category_ids[]', cat.id, (params[:category_ids] && params[:category_ids].include?(cat.id.to_s)))
                  = cat.name
          / .buttons
          /   %button.reset.pull-right ОЧИСТИТИ
          /   = submit_tag 'ШУКАТИ', class: 'pull-right'
          /   .clearfix
      %section.tender
        %article
          %header
            %h3 Створити заявку
          %section
            .date Дата весілля
            .location Область
            .service Послуга
            .buttons
              %button.pull-right СТВОРИТИ
              .clearfix