%p#notice= notice

= image_tag @partner.user.avatar(:thumb_220)

%dl.partner
  %dt Ім'я
  %dd= @partner.name

  - if @partner.description
    %dt Опис
    %dd= raw @partner.description
    
  - if @partner.info
    %dt Інформація
    %dd= raw @partner.info

  %dt Ціна
  %dd= "Від #{@partner.price} $"

  - if @partner.categories.any?
    %dt Категорія
    %dd= raw @partner.categories.map{ |e| link_to(e.name, e) }.join(', ')
  
  - if @partner.location 
    %dt Живе
    %dd= link_to @partner.location.name, @partner.location
  
  - if @partner.locations.any?
    %dt Працює
    %dd= raw @partner.locations.map{ |e| link_to(e.name, e) }.join(', ')

  - if @partner.days.any?
    %dt Календар зайнятості
    %dd= raw full_year_callendar(@partner.calendar)

  %dt Сайт
  %dd= @partner.site

  %dt Email
  %dd= @partner.user.email
  
  %dt Телефон
  %dd= @partner.phone

  %dt Активний
  %dd= @partner.active
  
  %dt Рейтинг
  %dd= @partner.rating
  
  %dt Преміум
  %dd= @partner.premium

  - if @partner.premium
    %dt Преміум до
    %dd= @partner.premium_to

  %dt Галареї
  %dd  
    - @partner.galleries.each do |gallery|
      %div= gallery.name
      %div.gallery
        - gallery.photos.each do |photo|
          = link_to image_tag(photo.asset(:thumb_150)), photo.asset(:original)
  %dt Відео
  %dd.gallery
    - @partner.videos.each do |video|
      - if video.link
        %span.video= link_to image_tag(get_video_cover(video), { alt: video.name }), get_video_link(video), {rel: 'video'}

= link_to 'Edit', edit_admin_partner_path(@partner)
\|
= link_to 'Back', admin_partners_path
