= simple_form_for [:admin, @manager] do |f|
  = f.error_notification
  .row
    .col-xs-6
      = f.input :name,            input_html: { class: 'form-control' }
      
      = f.simple_fields_for :user do |user|
        = user.input :avatar,                input_html: { class: 'form-control' }
        = user.input :avatar_remote_url,     input_html: { class: 'form-control' } 
        = user.input :email,                 input_html: { class: 'form-control' }
        = user.input :password,              input_html: { class: 'form-control' }
        = user.input :password_confirmation, input_html: { class: 'form-control' }
  
      = f.button :submit, class: 'btn btn-default'
