%p#notice= notice

= image_tag @manager.user.avatar(:thumb_100)

%dl
  %dt Ім'я
  %dd= @manager.name

  %dt Email
  %dd= @manager.user.email

  %dt Avatar remote url
  %dd= @manager.user.avatar_remote_url

= link_to 'Edit', edit_admin_manager_path(@manager), class: 'btn btn-default'
= link_to 'Back', admin_managers_path, class: 'btn btn-default'
