= simple_form_for([:admin, @photo]) do |f|
  = f.error_notification

  .inputs
    = f.input :asset
    = f.input :asset_remote_url
    = f.input :rating
    = f.association :gallery

  .actions
    = f.button :submit
