%p#notice= notice

%p
  %b Asset:
  = @photo.asset
%p
  %b Rating:
  = @photo.rating
%p
  %b Gallery:
  = @photo.gallery

= link_to 'Edit', edit_admin_photo_path(@photo)
\|
= link_to 'Back', admin_photos_path
