= simple_form_for(@video) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :description
    = f.input :rating
    = f.association :partner

  .actions
    = f.button :submit
