%footer
  .container
    .top
      .pull-left
        = link_to t('nav.home'), root_path
        = link_to t('nav.partners'), categories_path
      .pull-right
        = link_to t('nav.about'), about_us_path
        /= link_to t('nav.carer'), partners_path
        /= link_to t('nav.sponsors'), partners_path
        = link_to t('nav.contacts'), about_us_path
      .clearfix
    .bottom
      .pull-left
        .logo
        .copyright
          .title= t('footer.copyright1')
          .subtitle= t('footer.copyright2')
      .pull-right
        %table
          %tr
            %td= t('footer.design')
            %td 
              %a{target: :_blank, href: "http://uk.wikipedia.org/wiki/Гурняк_Віктор_Петрович"} Віктор Гурняк
          %tr
            %td= t('footer.development')
            %td
              %a{target: :_blank, href: "http://ua.linkedin.com/in/bartezic/en"} Віктор Олексин
      .clearfix