%footer
  .container
    .top
      .pull-left
        = link_to t('nav.home'), root_path
        = link_to t('nav.partners'), partners_path
      .pull-right
        = link_to t('nav.about'), root_path
        = link_to t('nav.carer'), partners_path
        = link_to t('nav.sponsors'), partners_path
        = link_to t('nav.contacts'), partners_path
      .clearfix
    .bottom
      .pull-left
        .logo
        .copyright
          .title= t('footer.copyright1')
          .subtitle= t('footer.copyright2')
      .pull-right
        %table
          %tr
            %td= t('footer.design')
            %td 
              %a{href: "http://ua.linkedin.com/in/bartezic/en"} Viktor Gurniak
          %tr
            %td= t('footer.development')
            %td
              %a{href: "http://ua.linkedin.com/in/bartezic/en"} Viktor Oleksyn
      .clearfix