%nav.top
  .container
    .row
      .col-lg-8.left
        .pull-left
          = link_to root_path do 
            .logo
        .pull-left.top-nav
          = link_to 'ПОСЛУГИ', partners_path
          = link_to 'ОГОЛОШЕННЯ', partners_path
          = link_to 'НОВИНИ', partners_path
        .pull-right.locale
          %span{class: locale == :uk && 'active', data: { locale: :uk }}= link_to "Укр", "?locale=uk"
          |
          %span{class: locale == :ru && 'active', data: { locale: :ru }}= link_to "Рус", "?locale=ru"
      .col-lg-4.right
        .pull-right
          - if user_signed_in?
            .dropdown.auth
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = current_user.email 
                %b.caret
              %ul.dropdown-menu
                - if current_user.is_manager?
                  %li= link_to 'Адмінка', admin_root_path
                - elsif current_user.is_partner?
                  %li= link_to 'Кабінет', cabinet_profile_path(:general)
                %li= link_to 'Вийти', destroy_user_session_path, { method: :delete }
          - else
            %button.auth{type: :button, data:{toggle: :modal, target: :'#modal-login'}} ВХІД
            %button.auth{type: :button, data:{toggle: :modal, target: :'#modal-signup'}} РЕЄСТРАЦІЯ