%nav.top
  .container
    .row
      .col-lg-8.left
        .pull-left
          = link_to root_path do 
            .logo
        .pull-left.top-nav
          - if part == :app
            = link_to t('nav.partners'), partners_path
      .col-lg-4.right
        .pull-right
          - if user_signed_in?
            .dropdown.auth
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = current_user.email 
                %b.caret
              %ul.dropdown-menu
                - if current_user.is_manager?
                  %li= link_to t('nav.admin'), admin_root_path
                - elsif current_user.is_partner?
                  %li= link_to t('nav.cabinet'), cabinet_profile_path(:general)
                %li= link_to t('nav.logout'), destroy_user_session_path, { method: :delete }
          - else
            %button.auth{type: :button, data:{toggle: :modal, target: :'#modal-login'}}= t('nav.login')
            %button.auth{type: :button, data:{toggle: :modal, target: :'#modal-signup'}}= t('nav.signup')