.modal.fade#modal-login
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title= t 'login_form.title'
      .modal-body
        = simple_form_for(User.new, as: :user, url: session_path(:user), html: {class: '', role: :form}) do |f|
          = f.error_notification
          = f.input :email,     input_html: { class: 'form-control' }
          = f.input :password,  input_html: { class: 'form-control' }

          = f.button :submit, class: 'btn btn-default'