.modal.fade#modal-login
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Login
      .modal-body
        %ul#myTab.nav.nav-tabs
          %li.active
            %a{href: "#partner"} Партнер
          %li
            %a{href: "#admin"} Адмін
        .tab-content
          #partner.tab-pane.active
            = simple_form_for(Partner.new, as: :partner, url: session_path(:partner), html: {class: '', role: :form}) do |f|
              = f.error_notification
              = f.input :email, input_html: { class: 'form-control' }
              = f.input :password, input_html: { class: 'form-control' }

              = f.button :submit, class: 'btn btn-default'
          #admin.tab-pane
            = simple_form_for(AdminUser.new, as: :admin_user, url: session_path(:admin_user), html: {class: '', role: :form}) do |f|
              = f.error_notification
              
              = f.input :email, input_html: { class: 'form-control' }
              = f.input :password, input_html: { class: 'form-control' }

              = f.button :submit, class: 'btn btn-default'