%p#notice= notice

%p
  %b Name:
  = @gallery.name
%p
  %b Description:
  = @gallery.description
%p
  %b Partner:
  = @gallery.partner

= link_to 'Edit', edit_gallery_path(@gallery)
\|
= link_to 'Back', galleries_path
