%p#notice= notice

%dl
  %dt Title
  %dd= @partner_ad.title

  %dt Description
  %dd= @partner_ad.description

  %dt Partner
  %dd= link_to(@partner_ad.partner.name, [:admin, @partner_ad.partner]) if @partner_ad.partner

  %dt Photo
  %dd= image_tag(@partner_ad.asset(:thumb))

  %dt Active
  %dd= @partner_ad.active

  %dt Active to
  %dd= @partner_ad.active_to

= link_to 'Edit', edit_admin_partner_ad_path(@partner_ad), class: 'btn btn-default' 
= link_to 'Back', admin_partner_ads_path, class: 'btn btn-default' 
