#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  .search-form
    %button ШУКАТИ
    .price 
      Ціна
      %b.caret
    .posluga 
      Послуга
      %b.caret
    .location 
      Область
      %b.caret
    .date 
      Дата весілля
      %b.caret
    .clearfix
  %ol.carousel-indicators
    %li.active(data-target="#carousel-example-generic" data-slide-to="0")
    %li(data-target="#carousel-example-generic" data-slide-to="1")
    %li(data-target="#carousel-example-generic" data-slide-to="2")
    %li(data-target="#carousel-example-generic" data-slide-to="3")
    %li(data-target="#carousel-example-generic" data-slide-to="4")
  .carousel-inner
    .item.active
      %img{src: "/assets/slider/10.jpg"}
      .carousel-caption
        .pull-left 
          .title КОЛОРИТНЕ ВЕСІЛЛЯ 
          .clearfix
          .subtitle ПРОКОПА ТА МАГДИЛИНИ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Валерія", src: "/assets/avatar1.jpg"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix

    .item
      %img{src: "/assets/slider/9.jpg"}
      .carousel-caption
        .pull-left 
          .title ВЕСІЛЛЯ ФІАЛКИ ТА НАРЦИСА
          .clearfix
          .subtitle В БОТАНІЧНОМУ САДУ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Міла", src: "/assets/avatar2.jpg"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
    .item
      %img{src: "/assets/slider/8.jpg"}
      .carousel-caption
        .pull-left 
          .title КОЛОРИТНЕ ВЕСІЛЛЯ 
          .clearfix
          .subtitle ПРОКОПА ТА МАГДИЛИНИ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Марта", src: "/assets/avatar3.jpg"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
    .item
      %img{src: "/assets/slider/11.jpg"}
      .carousel-caption
        .pull-left 
          .title ВЕСІЛЛЯ НА БЕРЕЗІ МОРЯ
          .clearfix
          .subtitle ЧИН ЗАНЬ ЦЮНЯ ТА НАСТІ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Тетяна", src: "/assets/avatar1.jpg"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
    .item
      %img{src: "/assets/slider/9.jpg"}
      .carousel-caption
        .pull-left 
          .title ВЕСІЛЛЯ В КАРПАТАХ
          .clearfix
          .subtitle МАРНОЗАРА ТА ФІАЛОСТИНКИ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Анна", src: "/assets/avatar2.jpg"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-right


.container
  .row
    %section.col-lg-8.main-section
      %article.about-us
        %table
          %tr
            %td.title Про нас
            %td.description 
              %span WedCity.pro(Місто весільних професіоналів) 
              = '- це своєрідна соціальна мережа яка об’єднує людей які працюють у галузі надання послуг для урочистих подій та людей яким необхідні ці послуги.'
        .nav
          = link_to 'Контакти', partners_path
          = link_to 'Рекламодавцям', partners_path
        .clearfix
      %article.couple-ad
        %header ТЕНДЕР ВІД НАРЕЧЕНИХ
        .line
        %table
          %tr
            %td.left
              %figure
                %img
                %figurecaption
              %figure
                %img
                %figurecaption
            %td.right
              .title Потрібен професійний фотограф на весілля
              .subtitle
                %span 19 квітня 2013
                %span від 500$ до 1000$
                %span Київ
                %span Відеооператор
              .description Треба дуже відповідальна людина яка фоткатиме компроматичний репортаж та буде пасти курей і котів немитих на вертольоті з сімома леприконами.
              .links
                .pull-left
                  = link_to 'ЗАПРОПОНУВАТИ СВОЇ ПОСЛУГИ', partners_path
                .pull-right
                  = link_to 'Переглянути інші запити', partners_path
                .clearfix
      %article.profi-ad
        %header ВИПАДКОВЕ ОГОЛОШЕННЯ
        .line
        %table
          %tr
            %td.left
              %figure
                %img{src: 'http://www.cameronhighlandsresort.com/weddings/images/img_signature_colonial_wedding.jpg'}
            %td.right
              .title Забацаю бомбезне LoveStory
              .description Треба дуже відповідальна людина яка фоткатиме компроматичний репортаж та буде пасти курей і котів немитих на вертольоті з сімома леприконами.
              .links
                .pull-left
                  = link_to 'Детальніше', partners_path
                .pull-right
                  = link_to 'Андрій Кобрин | відооператор', partners_path
                .clearfix
      %article.just-ad
        %header РЕКЛАМА
        .line
        .row
          .col-lg-6
            %figure
              %img.img-responsive{src: 'http://baliwebcreator.com/bwp/wp-content/uploads/2012/09/impressions-thb.jpg'}
          .col-lg-6
            %figure
              %img.img-responsive{src: 'http://pochemunelzya.ru/wp-content/uploads/2011/08/wedding_rings_009-360x150.jpg'}
    %aside.col-lg-4
      %section.popular-news
        %article
          %header
            %h3 Популярна новина
          %figure
            %img.img-responsive{ src: '/assets/side1.JPG' }
            %figurecaption
              .title ОХ ФАЙНЕ ВІСІЛЛЬИ
              .subtitle ТАК СІ ВСІ ПОНАПИВАЛИ
          %footer
            .pull-left
              = link_to 'Андрій Кобрин | відооператор', partners_path
            .pull-right
              21.12.2013
            .clearfix
      %section.recent-news
        %article
          %header
            %h3 Останні новини
          %section
            %article
            %article
            %article
            %article
          %footer

.recent-users
  .container
    .intro
      .title ОСТАННІ ЗАРЕЄСТРОВАНІ
      .subtitle Каталог професіоналів для організації весілля
    %a.add{href: '#', data:{toggle: :modal, target: :'#modal-signup'}} +
    - @last_partners.each do |partner|
      = link_to partner do
        = image_tag(partner.user.avatar(:thumb_100), { alt: partner.name })
        .content
          .title= partner.name
          .subtitle= partner.categories.map(&:name_sing).join(',')
    .clearfix