#carousel.carousel.slide{"data-ride" => "carousel"}
  = form_tag('/partners', method: :get, class: 'search-form') do
    = submit_tag 'ШУКАТИ'
    / .price 
    /   Ціна
    /   %b.caret
    .posluga 
      = collection_select(:category_ids, nil, Category.all, :id, :name, {prompt: 'Послуга'})
    .location
      = collection_select(:location_ids, nil, Location.all, :id, :name, {prompt: 'Область'})
    .date
      %label Дата весілля
      %input#datepicker{name: :date, type: 'text'}
    .clearfix
  - if @slider_ads.any?
    %ol.carousel-indicators
      - @slider_ads.each_with_index do |slider_ad, i|
        %li{ class: i==0 && 'active', data: { target: '#carousel', 'slide-to' => i } }
    .carousel-inner
      - @slider_ads.each_with_index do |slider_ad, i|
        .item{ class: i==0 && 'active' }
          = image_tag slider_ad.asset(:slide)
          .carousel-caption
            - if slider_ad.text
              .pull-left 
                .title= slider_ad.text["#{locale}_title"]
                .clearfix
                .subtitle= slider_ad.text["#{locale}_subtitle"]
            - if slider_ad.partner
              .pull-right
                %a.autor{href: "http://wedcity.pro/partners/marta"}
                = link_to slider_ad.partner, class: :autor do
                  .pull-left
                    .avatar
                      = image_tag(slider_ad.partner.user.avatar(:thumb_100), { alt: slider_ad.partner.name })
                  .pull-right
                    .title= slider_ad.partner.name
                    .subtitle= slider_ad.partner.categories.map(&:name_sing).join(',')
                  .clearfix
  - else
    .carousel-inner
      .item.active
        %img{ src: 'http://placehold.it/1400x500' }

  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel"}
    %span.glyphicon.glyphicon-chevron-right


.container
  .row
    %section.col-lg-8.main-section
      %article.about-us
        %table
          %tr
            %td.title Про нас
            %td.description 
              %span WedCity.pro(Місто весільних професіоналів) 
              = '- це своєрідна соціальна мережа яка об’єднує людей які працюють у галузі надання послуг для урочистих подій та людей яким необхідні ці послуги.'
        .nav
          = link_to 'Контакти', partners_path
          = link_to 'Рекламодавцям', partners_path
        .clearfix
      %article.couple-ad
        %header ТЕНДЕР ВІД НАРЕЧЕНИХ
        .line
        %table
          %tr
            %td.left
              %figure
                %img
                %figurecaption
              %figure
                %img
                %figurecaption
            %td.right
              .title Потрібен професійний фотограф на весілля
              .subtitle
                %span 19 квітня 2013
                %span від 500$ до 1000$
                %span Київ
                %span Відеооператор
              .description Треба дуже відповідальна людина яка фоткатиме компроматичний репортаж та буде пасти курей і котів немитих на вертольоті з сімома леприконами.
              .links
                .pull-left
                  = link_to 'ЗАПРОПОНУВАТИ СВОЇ ПОСЛУГИ', partners_path
                .pull-right
                  = link_to 'Переглянути інші запити', partners_path
                .clearfix
      - if @partner_ad
        %article.profi-ad
          %header ВИПАДКОВЕ ОГОЛОШЕННЯ
          .line
          %table
            %tr
              %td.left
                %figure
                  = image_tag(@partner_ad.asset(:thumb))
              %td.right
                .title= @partner_ad.title
                .description= @partner_ad.description
                .links
                  .pull-left
                    = link_to 'Детальніше', partners_path
                  .pull-right
                    = link_to @partner_ad.partner do
                      = @partner_ad.partner.name
                      | 
                      = @partner_ad.partner.categories.map(&:name_sing).join(', ')
                  .clearfix
      %article.just-ad
        %header РЕКЛАМА
        .line
        .row
          .col-lg-6
            %figure
              %img.img-responsive{src: 'http://baliwebcreator.com/bwp/wp-content/uploads/2012/09/impressions-thb.jpg'}
          .col-lg-6
            %figure
              %img.img-responsive{src: 'http://pochemunelzya.ru/wp-content/uploads/2011/08/wedding_rings_009-360x150.jpg'}
    %aside.col-lg-4
      %section.popular-news
        %article
          %header
            %h3 Популярна новина
          %figure
            %img.img-responsive{ src: '/assets/side1.JPG' }
            %figurecaption
              .title ОХ ФАЙНЕ ВІСІЛЛЬИ
              .subtitle ТАК СІ ВСІ ПОНАПИВАЛИ
          %footer
            .pull-left
              = link_to 'Андрій Кобрин | відооператор', partners_path
            .pull-right
              21.12.2013
            .clearfix
      %section.recent-news
        %article
          %header
            %h3 Останні новини
          %section
            %article
            %article
            %article
            %article
          %footer

.recent-users
  .container
    .intro
      .title ОСТАННІ ЗАРЕЄСТРОВАНІ
      .subtitle Каталог професіоналів для організації весілля
    %a.add{href: '#', data:{toggle: :modal, target: :'#modal-signup'}} +
    - @last_partners.each do |partner|
      = link_to partner do
        = image_tag(partner.user.avatar(:thumb_100), { alt: partner.name })
        .content
          .title= partner.name
          .subtitle= partner.categories.map(&:name_sing).join(',')
    .clearfix