#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active(data-target="#carousel-example-generic" data-slide-to="0")
    %li(data-target="#carousel-example-generic" data-slide-to="1")
    %li(data-target="#carousel-example-generic" data-slide-to="2")
    %li(data-target="#carousel-example-generic" data-slide-to="3")
  .carousel-inner
    .item.active
      %img{src: "/assets/slider/10.jpg"}
      .carousel-caption
        .pull-left 
          .title КОЛОРИТНЕ ВЕСІЛЛЯ 
          .clearfix
          .subtitle ПРОКОПА ТА МАГДИЛИНИ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Валерія", src: "http://wedcity.pro/system/avatars/228/thumb_220/stringio.jpg?1381959415"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix

    .item
      %img{src: "/assets/slider/9.jpg"}
      .carousel-caption
        .pull-left 
          .title ВЕСІЛЛЯ ФІАЛКИ ТА НАРЦИСА
          .clearfix
          .subtitle В БОТАНІЧНОМУ САДУ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Міла", src: "http://wedcity.pro/system/avatars/226/thumb_220/open-uri20131016-12013-1nfq0q1.jpg?1381959372"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
    .item
      %img{src: "/assets/slider/8.jpg"}
      .carousel-caption
        .pull-left 
          .title КОЛОРИТНЕ ВЕСІЛЛЯ 
          .clearfix
          .subtitle ПРОКОПА ТА МАГДИЛИНИ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Марта", src: "http://wedcity.pro/system/avatars/222/thumb_220/stringio.jpg?1381959265"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
    .item
      %img{src: "/assets/slider/11.jpg"}
      .carousel-caption
        .pull-left 
          .title ВЕСІЛЛЯ НА БЕРЕЗІ МОРЯ
          .clearfix
          .subtitle ЧИН ЗАНЬ ЦЮНЯ ТА НАСТІ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Тетяна", src: "http://wedcity.pro/system/avatars/231/thumb_220/open-uri20131016-12013-10z7qk1.jpg?1381959477"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
    .item
      %img{src: "/assets/slider/9.jpg"}
      .carousel-caption
        .pull-left 
          .title ВЕСІЛЛЯ В КАРПАТАХ
          .clearfix
          .subtitle МАРНОЗАРА ТА ФІАЛОСТИНКИ
        .pull-right
          %a.autor{href: "http://wedcity.pro/partners/marta"}
            .pull-left
              .avatar
                %img{alt: "Анна", src: "http://wedcity.pro/system/avatars/230/thumb_220/open-uri20131016-12013-1ao2g6o.jpg?1381959447"}/
            .pull-right
              .title Андрій Кобрин
              .subtitle відеооператор
            .clearfix
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-right


.container
  .row
    %section.col-lg-8.main-section
      %article.about-us
        %table
          %tr
            %td.title Про нас
            %td.description 
              %span WedCity.pro(Місто весільних професіоналів) 
              = '- це своєрідна соціальна мережа яка об’єднує людей які працюють у галузі надання послуг для урочистих подій та людей яким необхідні ці послуги.'
        .nav
          = link_to 'Контакти', partners_path
          = link_to 'Рекламодавцям', partners_path
        .clearfix
      %article.couple-ad
        %header ТЕНДЕР ВІД НАРЕЧЕНИХ
        .line
        %table
          %tr
            %td.left
              %figure
                %img
                %figurecaption
              %figure
                %img
                %figurecaption
            %td.right
              .title Потрібен професійний фотограф на весілля
              .subtitle
                %span 19 квітня 2013
                %span від 500$ до 1000$
                %span Київ
                %span Відеооператор
              .description Треба дуже відповідальна людина яка фоткатиме компроматичний репортаж та буде пасти курей і котів немитих на вертольоті з сімома леприконами.
              .links
                .pull-left
                  = link_to 'ЗАПРОПОНУВАТИ СВОЇ ПОСЛУГИ', partners_path
                .pull-right
                  = link_to 'Переглянути інші запити', partners_path
                .clearfix
      %article.profi-ad
        %header ВИПАДКОВЕ ОГОЛОШЕННЯ
        .line
      %article.just-ad
        %header РЕКЛАМА
        .line
    %aside.col-lg-4
      %section.popular-news
        %article
          %header
            %h1 Популярна новина
          %figure
            %img
            %figurecaption
          %footer
      %section.recent-news
        %article
          %header
            %h1 Останні новини
          %section
            %article
            %article
            %article
            %article
          %footer

.recent-users
  .container
    .intro
      .title ОСТАННІ ЗАРЕЄСТРОВАНІ
      .subtitle Каталог професіоналів для організації весілля
    %a.add(href='#') +
    %a{href: "http://wedcity.pro/partners/marta"}
      %img{alt: "Марта", src: "http://wedcity.pro/system/avatars/222/thumb_220/stringio.jpg?1381959265"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/l%D1%96lya"}
      %img{alt: "Ліля", src: "http://wedcity.pro/system/avatars/223/thumb_220/open-uri20131016-12013-x7dnz9.jpg?1381959287"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/roksolana"}
      %img{alt: "Роксолана", src: "http://wedcity.pro/system/avatars/224/thumb_220/open-uri20131016-12013-1o1pc39.jpg?1381959316"}/
      .content
        .title Андрій Кобрин
        .subtitle відеооператор
    %a{href: "http://wedcity.pro/partners/%D1%96vanna"}
      %img{alt: "Іванна", src: "http://wedcity.pro/system/avatars/225/thumb_220/open-uri20131016-12013-18dewe2.jpg?1381959345"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/m%D1%96la"}
      %img{alt: "Міла", src: "http://wedcity.pro/system/avatars/226/thumb_220/open-uri20131016-12013-1nfq0q1.jpg?1381959372"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/katya"}
      %img{alt: "Катя", src: "http://wedcity.pro/system/avatars/227/thumb_220/open-uri20131016-12013-g4xyr9.jpg?1381959399"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/valer%D1%96ya"}
      %img{alt: "Валерія", src: "http://wedcity.pro/system/avatars/228/thumb_220/stringio.jpg?1381959415"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/oksana-173d89c2-ef52-45e3-bc69-db81aa0a82e8"}
      %img{alt: "Оксана", src: "http://wedcity.pro/system/avatars/229/thumb_220/stringio.jpg?1381959427"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/anna"}
      %img{alt: "Анна", src: "http://wedcity.pro/system/avatars/230/thumb_220/open-uri20131016-12013-1ao2g6o.jpg?1381959447"}/
      .content
        .title Марта
        .subtitle порномодель
    %a{href: "http://wedcity.pro/partners/tetyana-0bb0e927-c227-4de3-9bf6-5bbd935295d4"}
      %img{alt: "Тетяна", src: "http://wedcity.pro/system/avatars/231/thumb_220/open-uri20131016-12013-10z7qk1.jpg?1381959477"}/
      .content
        .title Марта
        .subtitle порномодель
    .clearfix