%section.login
  .container
    .row
      .col-md-4.col-sm-3
      .col-md-4.col-sm-6
        - puts resource.errors.inspect
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'sky-form boxed'}) do |f|
          %header Увійти
          %fieldset
            = f.error_notification
            %section
              %label.input
                %i.icon-append.fa.fa-envelope
                = f.input_field :email, required: true, autofocus: true, placeholder: 'Email'
            %section
              %label.input
                %i.icon-append.fa.fa-lock
                = f.input_field :password, required: true, placeholder: 'Пароль'
            %section.remember-me
              %label.checkbox
                %input(type="checkbox" name="user['remember_me']")
                %i
                Запам'ятати мене
              = link_to 'Забули пароль?', new_password_path(resource_name)
          %footer
            %button.button.btn-block(name="commit" type="submit") Вхід
          .divider
            %i.fa.fa-chevron-down
          %footer
            = link_to new_registration_path(resource_name) do
              %button.button.btn-block.sign-up Створити обліковий запис
        = render 'devise/shared/links'
      .col-md-4.col-sm-3