= simple_form_for([:cabinet, @photo]) do |f|
  = f.error_notification
  .row
    .col-lg-6
      = f.input :asset,            input_html: { class: 'form-control' }
      = f.input :asset_remote_url, input_html: { class: 'form-control' }
      = f.association :gallery,    input_html: { class: 'form-control' }, collection: current_partner.galleries

      = f.button :submit, class: 'btn btn-default'
