.last-photos 
  .top
    .title
      = title
      %span.label.label-primary= photos.size
    .clearfix
  - if gallery && upload
    .upload-photos
      = simple_form_for [:cabinet, Photo.new] do |f|
        = f.input :gallery_id, as: :hidden, input_html: { value: gallery.id  }
        = f.label :asset, 'Додати фото'
        = f.input_field :asset, multiple: true, name: "photo[asset]"
      .progress.progress-striped.hidden
        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "00", role: "progressbar", style: "width: 0%"}
  %div{ class: (gallery && upload ? 'photos' : 'photos-no-sort') }
    - photos.each do |photo|
      = render photo
