%h1 Listing photos

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Asset
        %th Rating
        %th Gallery
        %th Actions
    %tbody
      - @photos.each do |photo|
        %tr
          %td= image_tag photo.asset(:thumb_150)
          %td= photo.rating
          %td= link_to(photo.gallery.name, [:cabinet, photo.gallery]) if photo.gallery
          %td
            = link_to 'Show', [:cabinet, photo]
            = link_to 'Edit', edit_cabinet_photo_path(photo)
            = link_to 'Destroy', [:cabinet, photo], method: :delete, data: { confirm: 'Are you sure?' }

= paginate @photos
%br
= link_to 'New Photo', new_cabinet_photo_path, class: 'btn btn-default'
