= simple_form_for [:admin, @category] do |f|
  = f.error_notification
  .row
    .col-xs-6
      = f.input :name,            input_html: { class: 'form-control' }
      = f.input :name_sing,       input_html: { class: 'form-control' }
      = f.input :logo,            input_html: { class: 'form-control' }
      = f.input :logo_remote_url, input_html: { class: 'form-control' }
      = f.input :meta_description,input_html: { class: 'form-control' }
      = f.input :meta_keywords,   input_html: { class: 'form-control' }
      = f.input :slug,            input_html: { class: 'form-control' }

      = f.button :submit, class: 'btn btn-default'
