%h1 Listing categories

.table-responsive
  %table.table.table-bordered.table-striped
    %tr
      %th Name
      %th Name sing
      %th Actions

    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.name_sing
        %td
          = link_to 'Show', [:admin, category]
          = link_to 'Edit', edit_admin_category_path(category)
          = link_to 'Destroy', [:admin, category], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New category', new_admin_category_path
