%h1 Listing categories

.table-responsive
  %table.table.table-bordered.table-striped
    %tr
      %th Id
      %th Name(Name sing)
      %th meta_description
      %th meta_keywords
      %th slug
      %th Logo
      %th Actions

    - @categories.each do |category|
      %tr
        %td= category.id
        %td= "#{category.name}(#{category.name_sing})"
        %td= category.meta_description
        %td= category.meta_keywords
        %td= category.slug
        %td= image_tag category.logo(:thumb)
        %td
          = link_to 'Show', [:admin, category]
          = link_to 'Edit', edit_admin_category_path(category)
          = link_to 'Destroy', [:admin, category], :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @categories
%br
= link_to 'New category', new_admin_category_path, class: 'btn btn-default'
