%h1 Listing photos

%table
  %tr
    %th Asset
    %th Rating
    %th Gallery
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= photo.asset
      %td= photo.rating
      %td= photo.gallery
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_photo_path(photo)
      %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Photo', new_photo_path
