:ruby
  image_url = URI.join(request.url, @category.logo(:thumb))
  title = "#{@category.name}(#{@category.name_sing}) на весілля"
  set_meta_tags title: title,
                description: @category.meta_description,
                keywords: @category.meta_keywords,
                canonical: category_url(@category),
                og: {
                  title: title,
                  site_name: default_meta_tags[:site],
                  type: 'website',
                  url: category_url(@category),
                  locale: 'uk_UA',
                  image: image_url
                }

.container.partners
  .row
    %aside.col-lg-4.col-md-4.col-md-push-8.col-lg-push-8
      %section.search-form
        = form_tag(category_path(@category), method: :get, remote: true) do
          %table
            %tr.ordering 
              %td Сортувати за:&nbsp;
              %td= select_tag 'order', options_for_select([['датою (спочатку нові)', 'id DESC'],['датою (спочатку старі)', 'id ASC']], order_by)
            %tr.date 
              %td Дата весілля:
              %td
                %label= params[:date] || 'оберіть дату'
                %input#datepicker{name: :date, type: 'text', value: params[:date]}
            %tr.location 
              %td Місто:
              %td= select_tag 'location_id', content_tag(:option, 'оберіть місто')+options_from_collection_for_select(Location.all, 'id', 'name', params[:location_id])
    %section.col-lg-8.col-md-8.col-md-pull-4.col-lg-pull-4
      %h3.text-center= @category.name
      .index
        = render '/app/partners/partners'