= simple_form_for(@gallery) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :description
    = f.association :partner
    = f.input :slug

  .actions
    = f.button :submit
