= simple_form_for([:admin, @video]) do |f|
  = f.error_notification
  .row
    .col-xs-6
      = f.input :link,              input_html: { class: 'form-control' }
      = f.input :rating,            input_html: { class: 'form-control' }
      = f.association :partner,     input_html: { class: 'form-control' }

      = f.button :submit, class: 'btn btn-default'
