%h1 Listing videos

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Id
        %th Cover
        %th Rating
        %th Link
        %th Partner
        %th Actions
    %tbody
      - @videos.each do |video|
        %tr
          %td= video.id
          %td= image_tag get_video_cover(video, :medium)
          %td= video.rating
          %td= video.link
          %td= link_to(video.partner.name, [:admin, video.partner]) if video.partner
          %td
            = link_to 'Show', [:admin, video]
            = link_to 'Edit', edit_admin_video_path(video)
            = link_to 'Destroy', [:admin, video], :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @videos
%br
= link_to 'New Video', new_admin_video_path, class: 'btn btn-default'
