%h1 Listing videos

%table
  %tr
    %th Name
    %th Description
    %th Asset
    %th asset_remote_url
    %th Rating
    %th Partner
    %th
    %th
    %th

  - @videos.each do |video|
    %tr
      %td= video.name
      %td= video.description
      %td= video.asset
      %td= video.asset_remote_url
      %td= video.rating
      %td= video.partner
      %td= link_to 'Show', [:admin, video]
      %td= link_to 'Edit', edit_admin_video_path(video)
      %td= link_to 'Destroy', [:admin, video], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Video', new_admin_video_path
