%p#notice= notice

%dl
  %dt Name
  %dd= @video.name

  %dt Description
  %dd= @video.description

  %dt Asset
  %dd= image_tag get_video_cover(@video, :large)

  %dt Rating
  %dd= @video.rating

  %dt Partner
  %dd= link_to(@video.partner.name, [:admin, @video.partner]) if @video.partner

  %dt Video
  %dd
    - if @video.link
      %iframe{ src: get_video_link(@video), width: 640, height: 430, frameborder: 0, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true, allowscriptaccess: :always, allowFullScreen: true, title: @video.name }

%br

= link_to 'Edit', edit_admin_video_path(@video), class: 'btn btn-default'
= link_to 'Back', admin_videos_path, class: 'btn btn-default'
