!!!
%html{ lang: locale, dir: :ltr }
  %head
    %title Wed
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    :javascript
      window.WedCity = {
        locale: '#{locale}'
      }; 
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link(rel="icon" href="/assets/favicon.ico")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

  %body.app
    #wrap
      = render 'shared/nav', part: :app
      = yield
    = render 'shared/footer'
    = render 'shared/popups'