!!!
%html{ lang: locale, dir: :ltr }
  %head
    %title= (content_for?(:title) ? yield(:title).strip << ' | ' : '') << 'Місто весільних професіоналів | Каталог весільних послуг'
    = csrf_meta_tags
    %meta(name="robots" content="all")
    %meta(http-equiv="content-language" content="ua")
    %meta(name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0")
    %meta(name="Author" content="Viktor Oleksyn [www.bartezic.com]")
    %meta{ name: :description, content: content_for?(:seo_description) ? yield(:seo_description) : 'Каталог весільних послуг' }
    %meta{ name: :keywords, content: content_for?(:seo_keywords) ? yield(:seo_keywords) : "весілля,послуги,каталог,#{@categories.map(&:name).join(',') if @categories}" }
    %link{rel: :icon, href: asset_path('favicon.ico')}
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic-ext,cyrillic,latin-ext,latin" rel="stylesheet" type="text/css")
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

  %body.app
    #wrap
      = render 'shared/nav', part: :app
      = render 'shared/flash'
      = yield
    = render 'shared/footer'
    = yield :scripts

    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58020007-1', 'auto');
        ga('send', 'pageview');