!!!
%html{ lang: locale, dir: :ltr }
  %head
    %title Wed
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "cabinet", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link(rel="icon" href="/assets/favicon.ico")
  
  %body.cabinet{ data: { user: @partner.slug || @partner.id } }
    #wrap
      = render 'shared/nav', part: :cabinet
      .push20
      = render 'shared/flash'
      = yield
    = render 'shared/footer'