!!!
%html
  %head
    %title Wed
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    / Wrap all page content here
    #wrap
      / Fixed navbar
      .navbar.navbar-default.navbar-fixed-top
        .container.top-nav
          .navbar-header
            %button.navbar-toggle{type: :button, data: {target: '.nc1', toggle: :collapse}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse.nc1
            %ul.nav.navbar-nav

            %ul.nav.navbar-nav.navbar-right
              %li.locale{class: locale == :uk && 'active', data: {locale: :uk}}= link_to "Укр", "?locale=uk"
              %li.locale{class: locale == :ru && 'active', data: {locale: :ru}}= link_to "Рус", "?locale=ru"
        .container
          .navbar-header
            %button.navbar-toggle{type: :button, data: {target: '.nc2', toggle: :collapse}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: "/cabinet"} Logo
          .navbar-collapse.collapse.nc2
            %ul.nav.navbar-nav
              %li{class: request.path == [:cabinet, current_partner]  && 'active'}= link_to 'Profile',   [:cabinet, current_partner]
              %li{class: request.path == cabinet_galleries_path       && 'active'}= link_to 'Galleries', cabinet_galleries_path
              %li{class: request.path == cabinet_photos_path          && 'active'}= link_to 'Photos',    cabinet_photos_path
              %li{class: request.path == cabinet_videos_path          && 'active'}= link_to 'Videos',    cabinet_videos_path
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  = current_user.email 
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'На сайт', root_path
                  %li= link_to 'Вийти', destroy_user_session_path, { method: :delete }
            /.nav-collapse
      / Begin page content
      .container
        .row
          .col-md-12
            = yield
    #footer
      .container
        %p.text-muted.credit
          Розробка:
          %a{href: "http://martinbean.co.uk"} Олексин Віктор