!!!
%html{ lang: locale, dir: :ltr }
  %head
    %title Wed
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    :javascript
      window.WedCity = {
        locale: '#{locale}'
      }; 
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link(rel="icon" href="/assets/favicon.ico")
  
  %body.cabinet{ data: { user: @partner.slug } }

    / Wrap all page content here
    #wrap
      / Fixed navbar
      = render 'shared/nav', part: :cabinet
      / Begin page content
      .container
        .push-30
        = render 'shared/flash'
        = yield
    = render 'shared/footer'