- set_meta_tags noindex: true, nofollow: true
!!!
%html{ lang: locale, dir: :ltr }
  %head
    = display_meta_tags(default_meta_tags)
    = csrf_meta_tags
    %meta(charset="utf-8")
    %link{rel: :icon, href: asset_path('favicon.ico')}
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic-ext,cyrillic,latin-ext,latin" rel="stylesheet" type="text/css")
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "cabinet", "data-turbolinks-track" => true
  
  %body.cabinet{ data: { user: @partner.slug || @partner.id } }
    #wrap
      = render 'shared/nav', part: :cabinet
      .push20
      = render 'shared/flash'
      = yield
    = render 'shared/footer'


- if session[:old_user_id]
  #was_admin
    %span Зараз ви переглядаєте сайт як <b>#{@partner.try(:name)}</b>
    = link_to 'Повернутись в адмін панель', back_admin_users_path, method: :post